# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

Release/
release/
Debug/
debug/
.vs/
.vs
.VS/
.VS
sw_api/*.txt
